:root {
  /* fonts */
  --font-circular-std: "Circular Std";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 15px;
  --font-size-lg: 45.76px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #142640;
  --color-gray-200: rgba(0, 0, 0, 0.1);
  --color-goldenrod: #ffbd59;

  /* Paddings */
  --padding-sm: 8px;
  --padding-md: 24px;

  /* border radiuses */
  --br-sm: 6px;
  --br-md: 7px;
}
