@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.footer-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.group-icon5 {
  position: relative;
  width: 39.98px;
  height: 39.98px;
  flex-shrink: 0;
}
.social-media-icons1 {
  position: absolute;
  height: 6.21%;
  width: 26.23%;
  top: 74.53%;
  right: 7.13%;
  bottom: 19.26%;
  left: 66.64%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.copyright-2023-all1 {
  position: absolute;
  top: 85.71%;
  left: 2.56%;
  font-size: var(--font-size-5xs);
  font-family: var(--h2);
  color: var(--color-dimgray-200);
  text-align: left;
}
.footer-item {
  position: absolute;
  height: 0.16%;
  width: 94.96%;
  top: 83.15%;
  right: 2.52%;
  bottom: 16.69%;
  left: 2.52%;
  border-top: 1px solid #737373;
  box-sizing: border-box;
}
.layer-2-icon2 {
  position: absolute;
  height: 8.71%;
  width: 20.88%;
  top: 72.05%;
  right: 76.56%;
  bottom: 19.24%;
  left: 2.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.company-group {
  position: absolute;
  height: 38.98%;
  width: 10.8%;
  top: 11.04%;
  right: 86.64%;
  bottom: 49.99%;
  left: 2.56%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.blog,
.resources {
  position: relative;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
}
.resources {
  font-size: var(--h2-size);
  line-height: 26px;
}
.blog {
  font-size: var(--font-size-sm);
}
.frequently-asked {
  margin-block-start: 0;
  margin-block-end: 0;
}
.questions {
  margin: 0;
}
.resources-parent {
  position: absolute;
  height: 35.56%;
  width: 11.36%;
  top: 11.19%;
  right: 54%;
  bottom: 53.25%;
  left: 34.64%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.im-in-2 {
  position: relative;
  font-size: var(--font-size-7xs);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: center;
}
.button-standard1 {
  border-radius: var(--br-4xs);
  background-color: var(--color-goldenrod);
  width: 189px;
  height: 33px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.need-help-parent {
  position: absolute;
  height: 30.12%;
  width: 22.48%;
  top: 11.19%;
  right: 10.88%;
  bottom: 58.68%;
  left: 66.64%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.footer {
  position: absolute;
  top: 9248px;
  left: 0;
  width: 1250px;
  height: 644px;
}
.design-tips-and1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--h2-size);
  line-height: 26px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
}
.design-trends,
.design-tutorials,
.house-tours1,
.visit-the-blog {
  position: absolute;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--h2);
  text-align: center;
}
.visit-the-blog {
  top: 361.91px;
  left: 537px;
  font-size: var(--font-size-4xs);
  text-decoration: underline;
  color: var(--color-darkgray);
}
.design-trends,
.design-tutorials,
.house-tours1 {
  top: 304px;
  left: 525px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.design-trends,
.house-tours1 {
  left: 139px;
}
.design-trends {
  left: 936px;
}
.group-child39,
.group-child40,
.group-child41 {
  position: absolute;
  top: 0.09px;
  left: 0;
  border-radius: var(--br-sm);
  width: 384px;
  height: 230px;
  object-fit: cover;
}
.group-child40,
.group-child41 {
  left: 400px;
  height: 229.66px;
}
.group-child41 {
  top: 0;
  left: 800px;
  width: 387px;
  height: 230px;
}
.rectangle-parent15 {
  position: absolute;
  top: 57.91px;
  left: 0;
  width: 1187px;
  height: 230.09px;
}
.union-child1,
.union-inner {
  position: absolute;
  height: 116.03%;
  width: 2.53%;
  top: 164.21%;
  right: -218.96%;
  bottom: -180.24%;
  left: 316.43%;
  background-color: var(--color-gainsboro);
  transform: rotate(-135deg);
  transform-origin: 0 0;
}
.union-child1 {
  top: 1.57%;
  right: -217.15%;
  bottom: -17.61%;
  left: 314.62%;
  transform: rotate(-45deg);
}
.union2 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 36.87px;
  height: 20.42px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.union1 {
  position: absolute;
  top: 155.91px;
  left: 1144px;
  width: 17.42px;
  height: 33.53px;
}
.design-tips-implementation {
  position: relative;
  width: 1187px;
  height: 387.91px;
  flex-shrink: 0;
}
.design-tips {
  position: absolute;
  top: 8764.09px;
  left: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  width: 428.01px;
  height: 386.16px;
  object-fit: cover;
}
.newsletter-item {
  position: absolute;
  top: 0;
  left: 428.01px;
  width: 757.99px;
  height: 386px;
}
.receive-your-free1,
.subscribe-to-our-container1 {
  position: absolute;
  line-height: 26px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: center;
  display: inline-block;
}
.receive-your-free1 {
  top: 0;
  left: 0;
  font-size: 30px;
  width: 571.76px;
}
.subscribe-to-our-container1 {
  top: 58px;
  left: 47.92px;
  font-size: var(--font-size-base);
  font-weight: 500;
  width: 474.84px;
}
.sign-up-container {
  position: absolute;
  top: 168px;
  left: 182.96px;
  border-radius: var(--br-4xs);
  background-color: var(--color-goldenrod);
  width: 205.83px;
  height: 33px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.receive-your-free-design-guide-group {
  position: absolute;
  top: 93px;
  left: 521.67px;
  width: 571.76px;
  height: 201px;
}
.newsletter1 {
  position: relative;
  width: 1186px;
  height: 386.16px;
  flex-shrink: 0;
}
.newsletter {
  position: absolute;
  top: 8281.94px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bedrooms,
.living-rooms1,
.open-plan-rooms2,
.view-all-rooms {
  position: absolute;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--h2);
  text-align: center;
}
.view-all-rooms {
  top: 358px;
  left: 534px;
  font-size: var(--font-size-4xs);
  text-decoration: underline;
  color: var(--color-darkgray);
}
.bedrooms,
.living-rooms1,
.open-plan-rooms2 {
  top: 304px;
  left: 521px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.bedrooms,
.living-rooms1 {
  left: 137px;
}
.bedrooms {
  left: 958px;
}
.group-child42,
.group-child43,
.group-child44 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 385px;
  height: 229.66px;
  object-fit: cover;
}
.group-child43,
.group-child44 {
  left: 401px;
  width: 384px;
}
.group-child44 {
  left: 801px;
  width: 385px;
  height: 230px;
}
.rectangle-parent16 {
  position: absolute;
  top: 58px;
  left: 0;
  width: 1186px;
  height: 230px;
}
.union4 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 36.87px;
  height: 20.42px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.union3 {
  position: absolute;
  top: 156.4px;
  left: 1034px;
  width: 17.42px;
  height: 33.53px;
}
.explore-our-projects {
  position: relative;
  width: 1186px;
  height: 384px;
  flex-shrink: 0;
}
.explore-our-project {
  position: absolute;
  top: 7801.94px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.customer-reviews-section-child {
  position: absolute;
  top: 58px;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-100);
  width: 1187px;
  height: 424px;
}
.screenshot-2023-01-13-at-11385,
.screenshot-2023-01-13-at-11386 {
  position: absolute;
  top: 87.06px;
  left: 928px;
  width: 159px;
  height: 79px;
  object-fit: cover;
}
.screenshot-2023-01-13-at-11386 {
  top: 127px;
  left: 81px;
  width: 497.49px;
  height: 55px;
}
.screenshot-2023-01-13-at-11387,
.screenshot-2023-01-13-at-11388 {
  position: absolute;
  top: 261px;
  left: 1145.54px;
  width: 27.27px;
  height: 67px;
  object-fit: cover;
}
.screenshot-2023-01-13-at-11388 {
  top: 253px;
  left: 16.36px;
}
.customer-reviews2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--h2-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  width: 255.29px;
}
.customer-reviews-section-child1,
.customer-reviews-section-child2,
.customer-reviews-section-inner,
.customer-reviews-section-item {
  position: absolute;
  top: 201.37px;
  left: 55.79px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 1.884745717048645px 11.31px rgba(0, 0, 0, 0.25);
  width: 260.11px;
  height: 187.53px;
  mix-blend-mode: normal;
}
.customer-reviews-section-child1,
.customer-reviews-section-child2,
.customer-reviews-section-inner {
  left: 328.24px;
}
.customer-reviews-section-child1,
.customer-reviews-section-child2 {
  left: 600.7px;
}
.customer-reviews-section-child2 {
  left: 873.15px;
}
.mask-group-icon {
  position: absolute;
  top: 196px;
  left: 55.79px;
  width: 1077.47px;
  height: 187.53px;
  object-fit: cover;
}
.read-more-reviews1 {
  text-decoration: underline;
}
.read-more-reviews-container {
  position: absolute;
  top: 418px;
  left: 511.68px;
  font-size: var(--font-size-4xs);
  line-height: 26px;
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 164.74px;
}
.customer-reviews-section {
  position: relative;
  width: 1187px;
  height: 482px;
  flex-shrink: 0;
}
.customer-reviews1 {
  position: absolute;
  top: 7223.94px;
  left: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.play-button-1 {
  position: absolute;
  top: 0;
  left: 1141px;
  width: 46px;
  height: 32px;
  overflow: hidden;
}
.how-it-works3,
.watch-video3 {
  position: absolute;
  top: 9px;
  left: 0;
  font-size: var(--h2-size);
  line-height: 26px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
}
.watch-video3 {
  top: 3px;
  left: 1021px;
  font-size: var(--font-size-sm);
}
.group-child45,
.group-child46 {
  position: absolute;
  top: 0;
  width: 592.96px;
  height: 386.16px;
}
.group-child45 {
  left: 592.96px;
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  object-fit: cover;
}
.group-child46 {
  left: 1.09px;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  background-color: var(--color-whitesmoke-600);
}
.icon11 {
  position: absolute;
  top: 54px;
  left: 0;
  width: 137.82px;
  height: 323.85px;
}
.complete-the-design1 {
  position: absolute;
  top: 104px;
  left: 181px;
  font-size: var(--font-size-lg);
  line-height: 38px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 263.78px;
  height: 178px;
}
.rectangle-parent17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1185.91px;
  height: 386.16px;
}
.group-child47,
.group-child48 {
  position: absolute;
  width: 592.96px;
  height: 386.16px;
}
.group-child47 {
  top: 0.16px;
  left: 591.86px;
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  object-fit: cover;
}
.group-child48 {
  top: 0;
  left: 0;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  background-color: var(--color-whitesmoke-500);
}
.icon12 {
  position: absolute;
  top: 55.16px;
  left: 2.72px;
  width: 247.31px;
  height: 331.34px;
}
.your-designer-will1 {
  position: absolute;
  top: 103.84px;
  left: 179.91px;
  font-size: var(--font-size-lg);
  line-height: 38px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 262.69px;
  height: 178px;
}
.group-child49,
.rectangle-parent18 {
  position: absolute;
  top: 410.16px;
  left: 1.09px;
  width: 1184.82px;
  height: 386.5px;
}
.group-child49 {
  top: 0.5px;
  left: 592.96px;
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  width: 592.96px;
  height: 386.16px;
  object-fit: cover;
}
.group-child50 {
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  background-color: var(--color-linen-100);
}
.group-child50,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 592.96px;
  height: 386.16px;
}
.icon13,
.you-will-have2 {
  position: absolute;
  top: 54.35px;
  left: 2px;
  width: 259.3px;
  height: 331.84px;
}
.you-will-have2 {
  top: 104.35px;
  left: 181px;
  font-size: var(--font-size-lg);
  line-height: 38px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 263.78px;
  height: 178px;
}
.group-child51,
.rectangle-parent19 {
  position: absolute;
  top: 820.65px;
  left: 0;
  width: 1185.91px;
  height: 386.65px;
}
.group-child51 {
  top: 0;
  left: 591.86px;
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  width: 592.96px;
  height: 386.16px;
  object-fit: cover;
}
.group-child52,
.icon14,
.rectangle-frame {
  position: absolute;
  left: 0;
  width: 592.96px;
  height: 386.16px;
}
.group-child52 {
  top: 0;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  background-color: var(--color-whitesmoke-200);
}
.icon14,
.rectangle-frame {
  top: 0.35px;
}
.icon14 {
  top: 62px;
  left: 1.09px;
  width: 285.44px;
  height: 323.85px;
}
.view-moodboard-2d1 {
  position: absolute;
  top: 122.69px;
  left: 179.91px;
  font-size: var(--font-size-lg);
  line-height: 38px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 313.92px;
  height: 142px;
}
.group-child53,
.rectangle-parent20 {
  position: absolute;
  top: 1231.31px;
  left: 1.09px;
  width: 1184.82px;
  height: 386.5px;
}
.group-child53 {
  top: 0;
  left: 594.04px;
  width: 592.96px;
  height: 386.16px;
  object-fit: cover;
}
.heart-hand-1 {
  position: absolute;
  top: 47px;
  left: 330.27px;
  width: 61.04px;
  height: 56px;
  overflow: hidden;
}
.group-child54,
.icon15 {
  position: absolute;
  left: 0;
}
.group-child54 {
  top: 0;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  background-color: var(--color-floralwhite);
  width: 592.96px;
  height: 386.16px;
}
.icon15 {
  top: 53.81px;
  width: 270.19px;
  height: 332.34px;
}
.shop-your-design1 {
  position: absolute;
  top: 100.19px;
  left: 181px;
  font-size: var(--font-size-lg);
  line-height: 38px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 273.59px;
  height: 186px;
}
.group-parent3,
.group-parent4 {
  position: absolute;
  top: 1641.81px;
  left: 0;
  width: 1187px;
  height: 386.16px;
}
.group-parent3 {
  top: 67px;
  left: 1px;
  height: 2027.97px;
}
.how-it-works-section {
  position: relative;
  width: 1188px;
  height: 2094.97px;
  flex-shrink: 0;
}
.how-it-works2 {
  position: absolute;
  top: 5032.97px;
  left: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.whats-included- {
  position: absolute;
  top: 7px;
  left: 3px;
  font-size: var(--h2-size);
  line-height: 26px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
}
.group-child55,
.group-child56 {
  position: absolute;
  top: 0;
  width: 591px;
  height: 419.52px;
}
.group-child55 {
  left: 0;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--color-whitesmoke-600);
}
.group-child56 {
  left: 591px;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  object-fit: cover;
}
.icon16,
.rectangle-parent21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1182px;
  height: 419.52px;
}
.icon16 {
  top: 67.36px;
  left: 0.54px;
  width: 137.36px;
  height: 351.83px;
}
.your-own-dedicated1 {
  position: absolute;
  top: 107.55px;
  left: 199.9px;
  font-size: var(--font-size-2xl);
  line-height: 41.28px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 245.53px;
  height: 193.38px;
}
.group-parent6 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 1182px;
  height: 419.52px;
}
.group-child57,
.group-child58 {
  position: absolute;
  width: 591px;
  height: 419.52px;
}
.group-child57 {
  top: 0.41px;
  left: 0;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  object-fit: cover;
}
.group-child58 {
  top: 0;
  left: 591px;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  background-color: var(--color-whitesmoke-500);
}
.icon17,
.rectangle-parent22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1182px;
  height: 419.93px;
}
.icon17 {
  top: 59.92px;
  left: 593.71px;
  width: 246.5px;
  height: 359.97px;
}
.up-to-three-container1 {
  position: absolute;
  top: 132.54px;
  left: 773.51px;
  font-size: var(--font-size-2xl);
  line-height: 41.28px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 249.87px;
  height: 154.27px;
}
.group-parent7 {
  position: absolute;
  top: 445.59px;
  left: 5px;
  width: 1182px;
  height: 419.93px;
}
.group-child59 {
  left: 594px;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  object-fit: cover;
}
.group-child59,
.group-child60,
.icon18,
.rectangle-wrapper1 {
  position: absolute;
  top: 0;
  width: 591px;
  height: 419.52px;
}
.group-child60 {
  left: 0;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--color-whitesmoke-400);
}
.icon18,
.rectangle-wrapper1 {
  left: 3px;
}
.icon18 {
  top: 58px;
  left: 0;
  width: 258.44px;
  height: 360.51px;
}
.professionally-designed-moodbo1 {
  position: absolute;
  top: 132.1px;
  left: 175.74px;
  font-size: var(--font-size-2xl);
  line-height: 41.28px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 272.69px;
  height: 155.35px;
}
.rectangle-parent23 {
  position: absolute;
  top: 892px;
  left: 2px;
  width: 1185px;
  height: 419.52px;
}
.group-child61 {
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  background-color: var(--color-linen-200);
}
.group-child61,
.icon19,
.rectangle-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 591px;
  height: 419.52px;
}
.icon19 {
  top: 66.98px;
  left: 1.09px;
  width: 284.5px;
  height: 351.83px;
}
.curated-furniture-and-container1 {
  position: absolute;
  top: 132.54px;
  left: 161.87px;
  font-size: var(--font-size-2xl);
  line-height: 41.28px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 325.92px;
  height: 154.27px;
}
.group-child62,
.group-parent9 {
  position: absolute;
  top: 0;
  left: 590px;
  width: 591px;
  height: 419.52px;
}
.group-child62 {
  left: 0;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  object-fit: cover;
}
.group-child63,
.group-parent8 {
  position: absolute;
  top: 1337.69px;
  left: 6px;
  width: 1181px;
  height: 419.52px;
}
.group-child63 {
  top: 0.72px;
  left: 0;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--color-whitesmoke-300);
  width: 596px;
  height: 419px;
}
.group-child64 {
  position: absolute;
  top: 0;
  left: 596px;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  width: 591px;
  height: 419.52px;
  object-fit: cover;
}
.icon20,
.rectangle-parent24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1187px;
  height: 419.72px;
}
.icon20 {
  top: 58.67px;
  left: 5.54px;
  width: 269.3px;
  height: 361.06px;
}
.personal-shopping-support1 {
  position: absolute;
  top: 127.31px;
  left: 167.96px;
  font-size: var(--font-size-2xl);
  line-height: 41.28px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 250.96px;
  height: 165.13px;
}
.group-child65,
.group-parent10 {
  position: absolute;
  top: 1783.28px;
  left: 0;
  width: 1187px;
  height: 419.72px;
}
.group-child65 {
  top: 0.46px;
  left: 596px;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  background-color: var(--color-aliceblue);
  width: 591px;
  height: 419.52px;
}
.icon21,
.you-will-have3 {
  position: absolute;
  top: 59.12px;
  left: 596px;
  width: 278.61px;
  height: 360.34px;
}
.you-will-have3 {
  top: 109.1px;
  left: 778.51px;
  font-size: var(--font-size-2xl);
  line-height: 41.28px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 250.96px;
  height: 202.07px;
}
.group-child66 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  width: 596px;
  height: 420px;
  object-fit: cover;
}
.group-parent5,
.play-button-42,
.rectangle-parent25 {
  position: absolute;
  top: 2229px;
  left: 0;
  width: 1187px;
  height: 420px;
}
.group-parent5,
.play-button-42 {
  top: 65px;
  height: 2649px;
}
.play-button-42 {
  top: 0;
  left: 1142px;
  width: 46px;
  height: 32px;
  overflow: hidden;
}
.whats-included-a-comprehens-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1188px;
  height: 2714px;
}
.watch-video4 {
  position: absolute;
  top: 4px;
  left: 1014px;
  font-size: var(--font-size-sm);
  line-height: 26px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: right;
}
.whats-included-section {
  position: relative;
  width: 1188px;
  height: 2714px;
  flex-shrink: 0;
}
.whats-included3 {
  position: absolute;
  top: 2223px;
  left: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.watch-video5 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 26px;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: right;
}
.before-after2 {
  position: absolute;
  top: 0;
  left: 1013px;
  width: 105px;
  height: 26px;
}
.of-61 {
  position: absolute;
  top: 711px;
  left: 525px;
  font-size: var(--font-size-4xs);
  line-height: 26px;
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color-darkgray);
  text-align: center;
}
.istockphoto-1206851647-612x612-icon3 {
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: var(--br-4xl) var(--br-5xl) var(--br-5xl) var(--br-5xl);
  width: 1186px;
  height: 625px;
  object-fit: cover;
}
.before-after-section-child,
.before-after-section-item {
  position: absolute;
  top: 619.09px;
  left: 486px;
  border-radius: var(--br-3xl);
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0.9298912882804871px 16.74px rgba(0, 0, 0, 0.15);
  width: 116px;
  height: 26.83px;
}
.before-after-section-item {
  top: 621.99px;
  left: 540.38px;
  background-color: rgba(20, 38, 64, 0.85);
  width: 58px;
  height: 21.02px;
}
.after3,
.before3 {
  position: absolute;
  top: 623.71px;
  left: 555.7px;
  font-size: var(--font-size-8xs);
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
}
.before3 {
  left: 498.7px;
  color: var(--color-gray-200);
}
.union-child4,
.union-child5 {
  position: absolute;
  top: 394.33px;
  left: 1034.67px;
  background-color: var(--color-gainsboro);
  width: 0.93px;
  height: 23.69px;
  transform: rotate(-135deg);
  transform-origin: 0 0;
}
.union-child5 {
  top: 361.46px;
  left: 1034px;
  transform: rotate(-45deg);
}
.union5 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 36.53px;
  height: 20.42px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.union-child6,
.union-child7 {
  position: absolute;
  top: 738.53px;
  left: 573.23px;
  background-color: var(--color-gainsboro);
  width: 0.32px;
  height: 8.16px;
  transform: rotate(-135deg);
  transform-origin: 0 0;
}
.union-child7 {
  top: 727.21px;
  left: 573px;
  transform: rotate(-45deg);
}
.union6 {
  position: relative;
  background-color: var(--color-darkgray);
  border: 1.3px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 12.87px;
  height: 7.32px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.before-after-section {
  position: absolute;
  top: 8px;
  left: 0;
  width: 1186px;
  height: 737px;
}
.before-after1 {
  position: relative;
  width: 1186px;
  height: 745px;
  flex-shrink: 0;
}
.before-after {
  position: absolute;
  top: 1382px;
  left: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.view-more {
  position: absolute;
  top: 335px;
  left: 505px;
  font-size: var(--font-size-4xs);
  text-decoration: underline;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color-darkgray);
  text-align: center;
}
.group-child67,
.group-child68,
.group-child69 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 385px;
  height: 297px;
  object-fit: cover;
}
.group-child68,
.group-child69 {
  top: -3px;
  left: 403px;
  width: 386px;
  height: 305px;
}
.group-child69 {
  top: 0;
  left: 803px;
  width: 383px;
  height: 297px;
}
.rectangle-parent26 {
  position: absolute;
  top: 90px;
  left: 0;
  width: 1186px;
  height: 298px;
}
.union-child8,
.union-child9 {
  position: absolute;
  height: 116.03%;
  width: 2.55%;
  top: 164.21%;
  right: 95.63%;
  bottom: -180.24%;
  left: 1.82%;
  background-color: var(--color-gainsboro);
  transform: rotate(-135deg);
  transform-origin: 0 0;
}
.union-child9 {
  top: 3.23%;
  right: 97.45%;
  bottom: -19.26%;
  left: 0;
  transform: rotate(-45deg);
}
.union7 {
  position: absolute;
  top: 222px;
  left: 1034px;
  width: 17.42px;
  height: 33.53px;
}
.receive-a-1001 {
  position: absolute;
  top: 38px;
  left: 0;
  font-size: var(--font-size-4xs);
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: left;
}
.fixed-price-design-from-just-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 538px;
  height: 58px;
}
.bedroom-design1,
.kitchen-dining,
.living-room-design1 {
  position: absolute;
  top: 403px;
  left: 84px;
  font-size: var(--font-size-sm);
  line-height: 26px;
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: center;
}
.kitchen-dining,
.living-room-design1 {
  left: 481px;
}
.kitchen-dining {
  left: 874px;
}
.fixed-price-section {
  position: relative;
  width: 1186px;
  height: 429px;
  flex-shrink: 0;
}
.fixed-price {
  position: absolute;
  top: 865px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.istockphoto-1407983708-612x612-icon1 {
  position: absolute;
  top: 0;
  left: 4px;
  width: 1250px;
  height: 705px;
  object-fit: cover;
}
.transform-your-home2 {
  font-size: var(--font-size-5xl);
  font-family: var(--h2);
}
.personalised-online-designs1 {
  font-size: var(--font-size-4xl);
  font-family: var(--h2);
}
.transform-your-home-container {
  position: absolute;
  top: 171px;
  left: 220px;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 821px;
  height: 202px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.71);
}
.group-child70 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 459px;
  height: 43px;
}
.search-1-icon1 {
  position: absolute;
  top: 12px;
  left: 32px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.i-need-help1 {
  position: absolute;
  top: 10px;
  left: 65px;
  font-size: var(--font-size-xs);
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: center;
}
.down-chevron-icon {
  position: absolute;
  top: 19px;
  left: 422px;
  width: 11.05px;
  height: 7px;
}
.rectangle-parent27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 459px;
  height: 43px;
}
.find-out-more1 {
  position: relative;
  font-size: var(--font-size-5xs);
  font-family: var(--h2);
  color: var(--color-gray-200);
  text-align: center;
}
.find-out-more-container {
  position: absolute;
  top: 0;
  left: 476px;
  border-radius: var(--br-4xs);
  background-color: var(--color-goldenrod);
  width: 177px;
  height: 41px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.group-parent11 {
  position: absolute;
  top: 457px;
  left: 304px;
  width: 653px;
  height: 43px;
}
.rated-excellent1 {
  position: absolute;
  top: 29px;
  left: 0;
  font-size: var(--font-size-5xs);
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
}
.trust-pilot-ko-11,
.trust-pilot-ko-21 {
  position: absolute;
  top: 0;
  left: 11px;
  width: 96px;
  height: 24px;
  object-fit: cover;
}
.trust-pilot-ko-21 {
  top: 4px;
  left: 102px;
  height: 20px;
}
.rated-excellent-492-average-group {
  position: absolute;
  top: 595px;
  left: 526px;
  width: 209px;
  height: 48px;
}
.get-your-fixed {
  position: absolute;
  top: 413px;
  left: 375px;
  font-size: var(--font-size-xl);
  font-weight: 900;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.layer-2-icon3 {
  position: absolute;
  height: 8.07%;
  width: 3.12%;
  top: 93.2%;
  right: 47.25%;
  bottom: -1.27%;
  left: 49.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hero-section-child {
  position: absolute;
  top: 588.5px;
  left: 345.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 394px;
  height: 1px;
}
.hero-section {
  position: relative;
  width: 1255px;
  height: 705px;
  flex-shrink: 0;
}
.hero {
  position: absolute;
  top: 66px;
  left: -4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-nav-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.layer-2-icon4 {
  position: absolute;
  height: 93.85%;
  width: 22.71%;
  top: 0;
  right: 66.23%;
  bottom: 6.15%;
  left: 11.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child71,
.group-child72,
.group-child73 {
  position: absolute;
  height: 12.5%;
  width: 4.08%;
  top: 18.75%;
  right: 95.92%;
  bottom: 68.75%;
  left: 0;
  background-color: var(--color-gray-200);
}
.group-child72,
.group-child73 {
  top: 43.75%;
  bottom: 43.75%;
}
.group-child73 {
  top: 68.75%;
  bottom: 18.75%;
}
.button-standard2 {
  position: absolute;
  height: 100%;
  width: 27.51%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 72.49%;
  border-radius: var(--br-4xs);
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.rectangle-parent28 {
  position: absolute;
  height: 93.64%;
  width: 100%;
  top: 6.36%;
  right: 0;
  bottom: 0;
  left: 0;
}
.button-standard3,
.layer-2-parent {
  position: absolute;
  height: 53.39%;
  width: 54.96%;
  top: 21.61%;
  right: 42.48%;
  bottom: 25%;
  left: 2.56%;
}
.button-standard3 {
  height: 51.56%;
  width: 15.12%;
  top: 23.44%;
  right: 42.4%;
  left: 42.48%;
  border-radius: var(--br-4xs);
  background-color: var(--color-goldenrod);
  display: none;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.group-icon10,
.shopping-icon,
.top-nav-child1,
.top-nav-child2 {
  position: absolute;
  height: 50%;
  width: 2.24%;
  top: 25%;
  right: 9.44%;
  bottom: 25%;
  left: 88.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon10,
.top-nav-child1,
.top-nav-child2 {
  width: 2.56%;
  top: 23.44%;
  right: 2.56%;
  bottom: 26.56%;
  left: 94.88%;
}
.top-nav-child1,
.top-nav-child2 {
  height: 25%;
  width: 1.28%;
  top: 26.56%;
  right: 2%;
  bottom: 48.44%;
  left: 96.72%;
}
.top-nav-child2 {
  right: 8.56%;
  left: 90.16%;
}
.top-nav1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1250px;
  height: 64px;
}
.homepage-desk-top {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 9892px;
  overflow: hidden;
  opacity: 0;
}
.homepage-desk-top.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
